services:
  todo:
    container_name: todo_api
    depends_on:
      postgres:
        condition: service_healthy
    build: 
      dockerfile: ./todo/Dockerfile
    environment:
      HTTP_PORT: ${HTTP_PORT}
      PG_HOST: postgres
      PG_PORT: ${PG_PORT}
      PG_USER: ${PG_USER}
      PG_PASSWORD: ${PG_PASSWORD}
      PG_DB: ${PG_DB}
      PG_SSL: ${PG_SSL}
    ports:
      - ${OUT_HTTP_PORT}:${HTTP_PORT}

  auth:
    container_name: auth
    depends_on:
      postgres:
        condition: service_healthy
    build: 
      dockerfile: ./auth/Dockerfile
    environment:
      GRPC_HOST: auth
      GRPC_PORT: ${GRPC_PORT}
      HTTP_PORT: ${HTTP_PORT}
      PG_HOST: postgres
      PG_PORT: ${PG_PORT}
      PG_USER: ${PG_USER}
      PG_PASSWORD: ${PG_PASSWORD}
      PG_DB: ${PG_DB}
      PG_SSL: ${PG_SSL}
    ports:
      - ${OUT_HTTP_PORT}:${HTTP_PORT}
    
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD:  ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB_NAME}
      PGDATA: ${PG_DATA}
    ports:
      - ${OUT_PG_PORT}:${PG_PORT}
    volumes:
      - ${PG_VOLUME}:${PG_DATA}
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true

volumes:
  pgdata:
    driver: local